html, body {
  width: 100%;
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

form { max-width:420px; margin:50px auto; }

h2 { 
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 35px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin: 0;
  padding: 0px;
  width: 100%;
} 

h4 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 25px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin: 0;
  padding: 0px;
  width: 100%;
}
h6 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin: 0;
  padding: 0px;
  width: 100%;
}

p { 
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
  margin: 0;
  padding: 0px;
  width: 100%;
}

td {
  text-align: center;
  width: 50%;
}

.buttD {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  background-color: #FEFEFE;
  color: #B38B59;
  border-radius: 5px;
  border:3px solid #B38B59;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline:0;
  font-weight:500;
  font-size: 18px;
  font-style: normal; 
  font-variant: normal; 
}

.feedback-input {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  background-color: #B38B59;
  color: #FEFEFE;
  border-radius: 5px;
  border:3px solid #FEFEFE;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  font-weight:500;
  font-size: 18px;
}

.feedback-label {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  background-color: #B38B59;
  color: #FEFEFE;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  font-weight:500;
  font-size: 18px;
}

.feedback-input:focus { border:2px solid #113E21; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  width: 100%;
  background:#FEFEFE;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #B38B59;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { color: #FEFEFE; background:#113E21; }


.about {
  margin: 0;
  color: #FEFEFE;
  background-color: #B38B59;
  text-align: center;
}

.experience {
  margin: 0;
  color: #B38B59;
  background-color: #FEFEFE;
  text-align: center;
}

.contact {
  margin: 0;
  color: #FEFEFE;
  background-color: #B38B59;
  text-align: center;
}

.graphics {
  margin: 0;
  color: #FEFEFE;
  background-color: #B38B59;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #113E21;
  margin: 0;
  padding: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #FEFEFE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FEFEFE;
  color: #113E21;
}

.topnav a.active {
  background-color: #B38B59;
  color: #FEFEFE;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#myBtn {
  display: none;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #113E21;
  color: #FEFEFE;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #B38B59;
}

.responsiveA {
  width: 70%;
  height: auto;
}

.responsiveB {
  width: 25%;
  height: auto;
}

.responsiveC {
  width: 35%;
  height: auto;
}

a:link {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #FEFEFE;
  background-color: transparent;
}
a:visited {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #FEFEFE;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background-color: #FEFEFE;
  color: #113E21;
}